{% extends "layout.html" %}
{% block title %}{{ employee.fullname }}{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/static/admin/employeeDetails.js"></script>
{% endblock head %}
{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile-header">
                <a class="link">{{ employee.fullname|e }}</a>
            </div>
            <div class="profile-attribute"><h3>{% if employee.role == "moderator" %}MODERATOR{% else %}ADMINISTRATOR{% endif %}</h3></div>
            <div class="profile-attribute"><span>Nazwa użytkownika: </span>{{ employee.username|e }}</div>
            <div class="profile-attribute"><span>E-mail: </span>{{ employee.email|e }}</div>
            <div class="profile-attribute"><span>Telefon: </span>{{ employee.phone_number|e }}</div>
            <div class="profile-attribute"><span>Płeć: </span>{% if  employee.gender == "male" %}Mężczyzna{% else %}Kobieta{% endif %}</div>
            <div class="profile-attribute"><span>Data dołączenia: </span>{{  employee.date_joined.strftime('%d-%m-%Y')|e }}</div>
            <h3></h3>
            {% if user and user.role == "administrator" %}
                <form class="buttons" action="/account/{{ employee.id }}">
                    {% if employee.id == user.id %}
                        <button class="button1" id="logout-all">Wyloguj na wszystkich urządzeniach</button>
                        <button class="button1" id="delete-own-account">Usuń konto</button>
                    {% endif %}
                    <button class="button1" id="edit-account">Edytuj konto</button>
                    {% if employee.id != user.id %}
                        <button class="button1" id="delete-account">Usuń konto</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>    
    </div>
{% endblock content %}