{% extends "layout.html" %}
{% block title %}Blog{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/static/blog/blog.js"></script>
{% endblock head %}
{% block content %}
    <div>
        <h1 class="blog-header1">{% if user and user.role != "administrator" %}Witaj, {{ user.username|e }}!{% else %}Witaj!{% endif %}</h1>
    </div>
    <div>
        {% if user and user.status == "banned" %}
            <h2 class="blog-header3 error-mes">Twoje konto zostało zbanowane.</h2>
        {% endif %}
        {% if posts %}
            {% if ordering == "-date_created"%}
                <h2 class="blog-header3">Oto najnowsze posty:</h2>
            {% else %}
                <h2 class="blog-header3">Oto najpopularniejsze posty:</h2>
            {% endif %}
        {% else %}
            <h2 class="blog-header3">Nikt nie dodał jeszcze wpisu.</h2>
        {% endif %}
        <div class="posts-view">
            {% if user and user.role != "administrator" and user.status == "active" %}
                <div class="new-post">
                    <form class="new-post-form" id="new-post-form">
                        <ul>
                            <li>
                                <textarea placeholder="Wpisz treść tutaj..." id="new-post-content" name="content" form="new-post-form" required></textarea>
                            </li>
                            <li>
                                <label for="picture">Zdjęcie: </label>
                                <input type="file" id="picture" name="picture" accept="image/png, image/jpeg, image/jpg">
                            </li>
                            <li>
                                <button type="submit" class="button1 create-post-button">Dodaj wpis</button>
                            </li>
                        </ul>
                    </form>
                </div>    
            {% endif %}
            {% if posts %}
                <div class="header-container">
                    <div class="filters">
                        {% if ordering == "-date_created"%}
                            <a class="filter-selected" href="/?ordering=-date_created">NAJNOWSZE</a>
                            <a class="filter" href="/?ordering=-like_count">NAJPOPULARNIEJSZE</a>
                        {% else %}
                            <a class="filter" href="/?ordering=-date_created">NAJNOWSZE</a>
                            <a class="filter-selected" href="/?ordering=-like_count">NAJPOPULARNIEJSZE</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% for post in posts %}
                <div class="post">
                    <div class="post-data">
                        <div class="post-header">
                            <div class="post-creator">
                                {% if post.creator.picture_url %}
                                    <img src={{ post.creator.picture_url }}>
                                {% endif %}
                                <a class="link" href="/profile/{{ post.creator.id }}">{{ post.creator.username|e }}</a>
                            </div>
                            <div class="post-likes">
                                <span class="like-count">+{{ post.like_count }}</span>
                                {% if user and user.role != "administrator" and user.id != post.creator.id and user.status == "active" %}
                                    <form class="buttons" action="/post/{{ post.id }}/like">
                                        {% if user.id not in post.like_list %}
                                            <button class="button1 create-post-like">+</button>
                                        {% else %}
                                            <button class="button1 delete-post-like">–</button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="post-text">{{ post.content|e }}</div>
                        {% if post.picture_url %}
                            <div class="post-image"><img src={{ post.picture_url }}></div>
                        {% endif %}
                        <div class="post-tags"><span>Tagi: </span>
                            {% for tag in post.tag_list %}
                                {% if not loop.last %}<a class="link" href="/tag/{{ tag }}">{{ tag }}</a>, {% else %} <a class="link" href="/tag/{{ tag }}">{{ tag }}</a>{% endif %}
                            {% endfor %}
                        </div> 
                        <div class="post-date"><span>Data publikacji: </span>{{ post.date_created.strftime('%d-%m-%Y %H:%M')|e }}</div>
                        <form class="buttons" action="/post/{{ post.id }}">
                            {% if user and user.role != "administrator" and (post.creator.id == user.id or user.role == "moderator") %}
                                {% if post.creator.id == user.id %}
                                    <button class="button1 edit-post-button">Edytuj wpis</button>
                                {% endif %}
                                    <button class="button1 delete-post-button">Usuń wpis</button>
                            {% endif %}
                            <button class="button1 show-discussion">Dyskusja</button>  
                        </form>
                    </div>  
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}