{% extends "layout.html" %}
{% block title %}{{ profile.username }}{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/static/blog/blog.js"></script>
    <script src="/static/blog/userProfile.js"></script>
{% endblock head %}
{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile-header">
                {% if profile.picture_url %}
                    <img src={{ profile.picture_url }}>
                {% endif %}
                <a class="link">{{ profile.username|e }}</a>
            </div>
            <div class="profile-attribute"><h3>{% if profile.role == "moderator" %}MODERATOR{% endif %}</h3></div>
            <div class="profile-attribute"><span>Punkty: </span>{{ profile.points|e }}</div>
            <div class="profile-attribute"><span>Ranga: </span>
                {% if profile.rank == "rank_1" %}
                    Nieśmiały
                {% elif profile.rank == "rank_2" %}
                    Gawędziarz
                {% else %}
                    Osobowość
                {% endif %}
            </div>
            <div class="profile-attribute"><span>Status: </span>
                {% if profile.status == "active" %}
                    Aktywny
                {% elif profile.status == "banned" %}
                    Zbanowany
                {% endif %}    
            </div>
            <div class="profile-attribute"><span>Płeć: </span>{% if profile.gender == "male" %}Mężczyzna{% else %}Kobieta{% endif %}</div>
            <div class="profile-attribute"><span>Data dołączenia: </span>{{ profile.date_joined.strftime('%d-%m-%Y')|e }}</div>
            <div class="profile-bio">{% if profile.bio %}{{ profile.bio|e }}{% else %}Użytkownik nie dodał jeszcze opisu do swojego profilu...{% endif %}</div>
            {% if user and (profile.id == user.id or user.role == "moderator") %}
                <form class="buttons" action="/account/{{ profile.id }}">
                    {% if profile.id == user.id %}
                        <button class="button1" id="logout-all">Wyloguj na wszystkich urządzeniach</button>
                        <button class="button1" id="edit-account">Edytuj konto</button>
                        <button class="button1" id="delete-own-account">Usuń konto</button>
                    {% endif %}
                    {% if profile.id != user.id %}
                        <button class="button1" id="delete-account">Usuń konto</button>
                    {% endif %}
                    {% if profile.status == "active" and profile.id != user.id and user.role == "moderator" %}
                        <button class="button1 ban-account-button" id="ban-account">Zbanuj użytkownika</button>
                    {% endif %}
                    {% if profile.status == "banned" and profile.id != user.id and user.role == "moderator" %}
                        <button class="button1 unban-account-button" id="unban-account">Odbanuj użytkownika</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>    
    </div>
    <div>
        <div class="header-container">
            <h1 class="blog-header2">Ostatnie posty:</h1>
        </div>
        <div class="posts-view">
            {% for post in posts %}
                <div class="post">
                    <div class="post-data">
                        <div class="post-header">
                            <div class="post-creator">
                                {% if post.creator.picture_url %}
                                    <img src={{ post.creator.picture_url }}>
                                {% endif %}
                                <a class="link" href="/profile/{{ post.creator.id }}">{{ post.creator.username|e }}</a>
                            </div>
                            <div class="post-likes">
                                <span class="like-count">+{{ post.like_count }}</span>
                                {% if user and user.role != "administrator" and user.id != post.creator.id and user.status == "active" %}
                                    <form class="buttons" action="/post/{{ post.id }}/like">
                                        {% if user.id not in post.like_list %}
                                            <button class="button1 create-post-like">+</button>
                                        {% else %}
                                            <button class="button1 delete-post-like">–</button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="post-text">{{ post.content|e }}</div>
                        {% if post.picture_url %}
                            <div class="post-image"><img src={{ post.picture_url }}></div>
                        {% endif %}
                        <div class="post-tags"><span>Tagi: </span>
                            {% for tag in post.tag_list %}
                                {% if not loop.last %}<a class="link" href="/tag/{{ tag }}">{{ tag }}</a>, {% else %} <a class="link" href="/tag/{{ tag }}">{{ tag }}</a>{% endif %}
                            {% endfor %}
                        </div> 
                        <div class="post-date"><span>Data publikacji: </span>{{ post.date_created.strftime('%d-%m-%Y %H:%M')|e }}</div>
                        <form class="buttons" action="/post/{{ post.id }}">
                            {% if user and user.role != "administrator" and (post.creator.id == user.id or user.role == "moderator") %}
                                {% if post.creator.id == user.id %}
                                    <button class="button1 edit-post-button">Edytuj wpis</button>
                                {% endif %}
                                    <button class="button1 delete-post-button">Usuń wpis</button>
                            {% endif %}
                            <button class="button1">Dyskusja</button>  
                        </form>
                    </div>  
                </div>
            {% endfor %}
        </div>
    </div>   
{% endblock content %}