{% extends "layout.html" %}
{% block title %}Reset hasła{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/static/accounts/passResetCode.js"></script>
{% endblock head %}
{% block content %}
    <section class="form-with-desc">
        <div class="greetings">
            <h1>Reset hasła</h1>
            <p>Na podany adres email wyślemy ci link do resetu hasła.</p>
        </div>
        <form class="auth-form" id="pass-reset-form">
            <ul class="form-list">
                <li>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </li>
                <li>
                    <button class="button1" type="submit">Prześlij</button>
                </li> 
            </ul>
        </form>
        <ul class="error-list">
            <li class="error-mes-hidden" id="pass-message"></li>
        </ul>
    </section>
{% endblock content %}