
html, body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
}

h1 {
    font-size: calc(14px + 0.8vw);
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.new-post {
    display: flex;
    padding: 0;
    margin-bottom: calc(15px + 1%);
    color: rgb(255, 255, 255);
}

.new-post-form {
    background-color: rgb(47, 47, 47);
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: calc(300px + 20%);
}

.new-post-form textarea {
    font-size: calc(15px + 0.2vw);
    width: 99.4%;
    min-height: calc(200px + 0.4vh);
    resize: none;
}

.new-post-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.new-post-form label {
    font-size: calc(15px + 0.1vw);
    margin-right: calc(5px + 0.2vw); 
}

.new-post-form li {
    margin: calc(10px + 0.15vw) 0;
}

.post {
    display: flex;
    margin-bottom: calc(5px + 1%);
    color: rgb(255, 255, 255);
    min-height: calc(200px + 0.4vh);
}

.post-data {
    font-size: calc(8px + 0.5vw);
    padding: calc(10px + 1%);
    background-color: rgb(21, 21, 21);
    border: thin solid;
    border-color: rgb(127, 127, 127);
    width: calc(300px + 20%);
    margin-left: auto;
    margin-right: auto;
}

.post-image {
    width: 80%;
    height: calc(100px + 10vw);
    margin-right: auto;
    margin-left: auto;
    margin-bottom:  calc(15px + 0.8vw);
}

.post-image img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-creator {
    font-size: calc(20px + 0.4vw);
    font-weight: 700;
    display: flex;
}

.post-creator a {
    margin-top: auto;
    margin-bottom: auto;
}

.post-creator img {
    margin-right: calc(10px + 0.4vw);
    width: calc(50px + 1vw);
    height: calc(50px + 1vw);
}

.post-likes {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.post-likes span {
    color: crimson;
    font-weight: 400;
    font-size: calc(20px + 0.4vw);
    margin-right: calc(10px + 0.4vw);
}

.post-likes .button1 {
    font-weight: 700;
    font-size: calc(12px + 0.4vw);
    width: calc(25px + 0.5vw);
    height: calc(25px + 0.5vw);
}

.post-text {
    margin:  calc(10px + 0.8vw) 0;
    font-size: calc(15px + 0.2vw);
    word-wrap: break-word;
    text-align: justify;
    white-space: pre-wrap;
}

.post-tags {
    font-size: calc(15px + 0.2vw);
}

.post-date {
    font-size: calc(15px + 0.2vw);
    margin-bottom: calc(5px + 0.2vw);
}

.post-data span {
    color: crimson;
    font-weight: 700;
}

.comment {
    display: flex;
    margin-bottom: calc(5px + 1%);
    color: rgb(255, 255, 255);
    min-height: calc(150px + 0.4vh);
}

.comment-data {
    font-size: calc(8px + 0.5vw);
    padding: calc(10px + 1%);
    background-color: rgb(21, 21, 21);
    border: thin solid;
    border-color: rgb(127, 127, 127);
    width: calc(300px + 20%);
    margin-left: auto;
    margin-right: auto;
}

.comment-creator {
    font-size: calc(20px + 0.4vw);
    font-weight: 700;
    display: flex;
}

.comment-creator a {
    margin-top: auto;
    margin-bottom: auto;
}

.comment-creator img {
    margin-right: calc(10px + 0.4vw);
    width: calc(50px + 1vw);
    height: calc(50px + 1vw);
}

.comment-text {
    margin:  calc(10px + 0.8vw) 0;
    font-size: calc(15px + 0.2vw);
    word-wrap: break-word;
    text-align: justify;
    white-space: pre-wrap;
}

.comment-date {
    font-size: calc(15px + 0.2vw);
    margin-bottom: calc(5px + 0.2vw);
}

.comment-data span {
    color: crimson;
    font-weight: 700;
}

.header-container {
    display: flex;
}

.blog-header1 {
    font-size: calc(30px + 0.5vw);
    margin-top: calc(30px + 0.5vw);
}

.blog-header2 {
    font-size: calc(30px + 0.5vw);
    margin-top: calc(30px + 0.5vw);
    margin-bottom: calc(30px + 0.5vw);
    margin-left: auto;
    margin-right: auto;
    width: calc(300px + 25%);
    text-align: left;
}

.blog-header3 {
    font-size: calc(20px + 0.3vw);
    font-weight: 700;
    margin-top: calc(10px + 0.2vw);
    text-align: left;
}

.button1 {
    font-size: calc(10px + 0.5vh);
    margin-right: calc(5px + 0.2vw);
    border: none;
    padding: calc(5px + 0.4vh);
    color: white;
    text-decoration: none;
    background-color: crimson;
}

.button1:hover {
    background-color: rgb(184, 15, 49);
}

.button2 {
    margin-top: 1%;
    font-size: calc(8px + 0.3vw);
    padding: calc(3px + 0.5%);
    border: none;
    color: white;
    text-decoration: none;
    background-color: crimson;
}

.button2:hover {
    background-color: rgb(184, 15, 49);
}

.button-wrapper1 {
    padding: calc(18px + 2%) calc(10px + 1%);
}


#author {
    color: white;
    margin: 0;
    margin-top: 15%;
    font-size: calc(10px + 0.6vw);
    font-weight: 700;
}

#description {
    font-size: calc(8px + 0.4vw);
    margin-top: 12%;
    margin-bottom: 15.5%;
}

nav {
    font-weight: 400;
    font-size: calc(15px + 0.2vw);
    padding: calc(10px + 0.2vw) calc(15px + 0.2vw);
    background-color: rgba(0, 0, 0, 0.801);
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-right: calc(15px + 0.2vw);
}

a.nav-item:hover {
    color: #b5dcff;
}

.link {
    color: white;
    text-decoration: none;
}

a.link:hover {
    color: #b5dcff;
}

.intro {
    margin-right: 5%;
}

#logo {
    width: 60%;
}

.content {
    margin: 0 calc(10px + 10%); 
}

.posts-view {
    padding-top: 1%;
    padding-bottom: calc(100px + 0.5vw);
}

#repo-link {
    color: white;
    text-decoration: none;
    margin-left: 1.2%;
}

#repo-link:hover {
    color: #b5dcff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #b5dcff;
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: calc(15px + 0.2vw);
    padding: calc(10px + 0.2vw) calc(15px + 0.2vw);
}

.form-with-desc {
    margin: calc(30px + 0.5vw) 0%;
    display: flex;
    flex-flow: wrap;
}

.greetings {
    margin: 0;
    margin-right: calc(80px + 10%);
    text-align: justify;
}

.greetings h1 {
    font-size: calc(25px + 0.5vw);
}

.greetings p {
    font-size: calc(15px + 0.3vw);
}

.auth-form {
    width: 20%;
    margin-right: calc(200px + 0.5vw);
}

.form-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-list li {
    margin: calc(10px + 0.15vw) 0;
    font-size: calc(15px + 0.2vw);
}

.form-list input {
    font-size: calc(15px + 0.2vw);
}

.form-list input[type=file] {
    margin-left: 0.3vw; 
}

.form-list input[type=radio] {
    font-size: 0.6vw;
}

.form-list select {
    font-size: calc(15px + 0.2vw);
}

.form-list li label {
    font-size: calc(15px + 0.2vw);
    margin-right: 4%;  
}

.error-list {
    width: 100%; 
    font-size: calc(15px + 0.2vw);
    padding: 0;
    list-style: none;
    margin: 0;
}

.error-list li {
    margin: calc(10px + 0.15vw) 0;
    color: crimson;
    display: block;
}

.error-mes-hidden {
    visibility: hidden;
}

.error-mes {
    visibility: visible;
}

.profile {
    display: flex;
    margin: calc(20px + 2%) 0;
    color: rgb(255, 255, 255);
    min-height: calc(300px + 0.4vh);
}

.profile-data {
    font-size: calc(8px + 0.5vw);
    padding: calc(10px + 1%);
    background-color: rgb(21, 21, 21);
    border: thin solid;
    border-color: #b5dcff;
    width: calc(300px + 50%);
    margin-left: auto;
    margin-right: auto;
}

.profile-bio {
    margin:  calc(15px + 0.8vw) 0;
    font-size: calc(15px + 0.2vw);
    word-wrap: break-word;
    text-align: justify;
    white-space: pre-wrap;
}

.profile-date-created {
    font-size: calc(15px + 0.2vw);
}

.profile-gender {
    font-size: calc(15px + 0.2vw);
}

.profile-data span {
    color: #b5dcff;
    font-weight: 700;
}